
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
}
html, body{
   height: 100vh;
   width: 100vw;
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows:1fr 1fr 1fr 1fr 1fr ;
   background:linear-gradient(90deg, #e0eafc 0%,#cfdef3 100% );
   font-weight: 800;
}
header{
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    border: #4a728b 8px double;
    border-radius: 5px;
    color: #fff;
    background-color: #fff;
    
}
header:hover{
    transform: scale(1.1);
    background:linear-gradient(90deg, #c9d6ff 0%,#e2e2e2 100% );  
    border: #fff 8px double;
}
.head div{
    padding: 0px 10px;
    color: #4a728b;
    
}
  .head div:hover{
    color: #fff;
}

 #rock, #paper, #scissors {
   
    display: none; 
 }

.winmsg{
    grid-area: 3/2/4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player{
    grid-row-start: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}
#computer, #player{
    color: #4a728b; 
    height: 3rem;
    border: #4a728b 8px double;
    border-radius: 5px; 
    background-color: #fff;
    padding: 5%;
}
#computer{
    grid-column: 5/6  ;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.computer-score span{
  display: inline-block;
  padding-left: 0.2rem;
   
}
.player-score span{
    padding-right: 0.2rem;
}
.player-score{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0.5rem 0rem 0.5rem;
   

}    
.computer-score{
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 1rem 0.5rem 0rem 0.5rem;

}
.playerchoices{
    grid-column: 2/5;
    grid-row: 4/6;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3% ;
    grid-template-rows: 50% 50%;  
}
img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 1rem #aaadb3;
    border-radius: 50%;
}
img{
    width: 116px;
    height: 116px;
    background: none;
    
}
#r{
    grid-column-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#p{
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#s{
    grid-column: 2/3;
    grid-row: 2/3;  
    display: flex;
    justify-content: center;
    align-items: center;  
}
@media only screen and (max-width: 600px) {
    #computer, #player {
      font-size: 10px;
      
      }
#player{
    padding-right: 20%;
}
  }
a{
    grid-area: 5/5/6/6;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
a img{
    margin: 0px 20px 10px 0px ;
    width: 30px;
    height: 30px;
}